[run]
source = .
omit =
    tests/*
    test/*
    */__pycache__/*
    */venv/*
    setup.py
    conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass

[xml]
output = coverage.xml
